.App {
  font-family: fantasy;
  text-align: center;
  font-size: 30px;
}

.test {
  font-family: cursive;
  border-top-style: dashed;
}

.Logo {
  font-family: "Franklin Gothic Medium";
  font-size: 15px;
  font-style: oblique;
}
